<div class="container">
  <div id="texto">
    <h1 class="titulo">whiteNet</h1>
    <h2 class="Subtitulo">Entrar</h2>
  </div>

  <form id="formulario" autocomplete="off">
    <input type="text" placeholder=" username">
    <input type="password" placeholder=" senha">
    <a class="recuperarSenha" href="">Esqueci minha senha</a>

    <div id="buttons">
      <button type="button" id="btn1" class="btn btn-secondary">REGISTRAR-SE</button>
      <button type="button" id="btn2" class="btn btn-secondary">ENTRAR</button>
    </div>
  </form>

</div>
